node_modules/
.next/
out/
build/
dist/
.vercel/
.env
.env.local
.env*.local
prisma/*.db
prisma/*.db-journal
*.log
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
*.tsbuildinfo
next-env.d.ts
public/sw.js
public/workbox-*.js